{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link href="{% static 'css/lecker_library.css' %} " rel="stylesheet">
<link href="{% static 'fonts/themify-icons.css' %} " rel="stylesheet">
<link href="{% static 'fonts/selima/stylesheet.css' %} " rel="stylesheet">
<link href="{% static 'css/lecker_style.css' %} " rel="stylesheet">
<link href="{% static 'css/gallery.css' %} " rel="stylesheet">
<link href="{% static 'css/blog.css' %} " rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Lato" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body class="lec_france">
<div class="lec_page" id="lec_page">
    <a href="#lec_page" class="lec_top lec_go"><b class="ti ti-angle-up"></b></a>
   <header>  
        <div class="container">   
            <a href="http://lecker.maskandesign.com/" class="lec_logo">CAFE TOIT <i><span>THE ROOF TOP</span><span>GARDEN CAFE</span></i></a>
            <div class="lec_main_menu">
                <div class="lec_main_menu_icon">
                    <i></i><i></i><i></i><i></i>
                    <b>Menu</b>
                    <b class="lec_main_menu_icon_b">Back</b>
                </div>
            </div>
            <div class="lec_main_menu_content lec_image_bck" data-color="rgba(0,0,0,0.9)" data-image="{% static 'images/resta/shutterstock_384835423.jpg' %}">
                <div class="lec_over" data-color="#000" data-opacity="0.8"></div>
            </div>
            <div class="lec_main_menu_content_menu lec_wht_txt text-right">
                <div class="container">
                    <ul>
                        <a href="{% url 'home' %}" style="text-decoration:none;color:white;">Home</a>
                        <a href="{% url 'about' %}" style="text-decoration:none;color:white;">About</a>
                        <a href="{% url 'menu' %}" style="text-decoration:none;color:white;">Menu</a>
                        <a href="{% url 'service' %}" style="text-decoration:none;color:white;">Service</a>
                        <a href="#" style="text-decoration:none;color:white;">Blog</a>
                        <a href="#" style="text-decoration:none;color:white;">Event & Offer</a>
                        <a href="{% url 'contact' %}" style="text-decoration:none;color:white;">Contact</a>
                    </ul>
                    <div class="lec_main_menu_content_menu_copy">
                        <p>© Cafe Tiot 2017</p>
                        <div class="lec_footer_social">
                            <a href="https://www.facebook.com/cafeToit/"><i class="ti ti-facebook lec_icon_box"></i></a>
                            <a href="https://www.instagram.com/cafe_toit/"><i class="ti ti-instagram lec_icon_box"></i></a>
                            <a href="https://twitter.com/CafetoitH"><i class="ti ti-twitter lec_icon_box"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="lec_slider lec_slider_inside lec_image_bck lec_fixed lec_wht_txt" data-stellar-background-ratio="0.3" data-image="{% static 'images/resta/shutterstock_430097569.jpg' %}">
        <div class="lec_slider_firefly" data-total="30" data-min="1" data-max="3"></div>
        <div class="lec_over" data-color="#000" data-opacity="0.8"></div>
        <div class="container">
            <div class="lec_slide_txt lec_slide_center_middle text-center">
                <img src="{% static 'images/cafe toit.png' %}" alt="" height="180"><br>
                <div class="lec_gold">Blog Details</div>
                <div class="lec_slide_subtitle">CAFE TOIT <br>The Roof Top Garden Cafe</div>
            </div>
        </div>
    </div>
    <!--<section id="lec_content" class="lec_content">
        <section class="lec_section">
            <div class="container-fluid text-center">
                <div class="lec_slider_single lec_slider_single_wm lec_wht_txt lec_lm_type_i" data-dots="false" data-autoplay="true">
                    
                    <div class="lec_lm_type_i_item">
                        <img src="images/slider/sl1.jpg" alt="">
                    </div>

                    <div class="lec_lm_type_i_item">
                        <img src="images/slider/sl2.jpg" alt="">
                    </div>

                    <div class="lec_lm_type_i_item">
                        <img src="images/slider/sl3.jpg" alt="">
                    </div>

                </div>
            </div>
        </section>
    </section> -->

    <div class="container p-4 border my-5">
        <div class="border-bottom mb-3 pb-3 px-2 d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <svg height="30px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                viewBox="0 0 495 495" style="enable-background:new 0 0 495 495;" xml:space="preserve">
                    <g>
                        <path d="M495,103.513V95.5c0-21.78-17.72-39.5-39.5-39.5h-416C17.72,56,0,73.72,0,95.5v303.997c0,0.003,0,0.005,0,0.008
                            C0.003,421.283,17.722,439,39.5,439h416c21.78,0,39.5-17.72,39.5-39.5V103.521C495,103.518,495,103.516,495,103.513z M39.5,71h416
                            c13.509,0,24.5,10.99,24.5,24.5v4.883c-35.121,34.963-92.85,92.464-140.721,140.289l-75.162-75.162
                            c-9.162-9.162-24.071-9.162-33.233,0L15,381.393V95.5C15,81.99,25.991,71,39.5,71z M455.5,424h-416
                            c-12.519,0-22.868-9.439-24.319-21.574L241.49,176.117c3.314-3.314,8.706-3.314,12.021,0l75.158,75.158
                            C289.26,290.67,258.813,321.249,257.5,323c-2.485,3.313-1.814,8.015,1.5,10.5c1.349,1.012,2.928,1.5,4.494,1.5
                            c2.187,0,4.349-0.953,5.822-2.764C275.075,325.77,412.962,188.308,480,121.551V399.5C480,413.01,469.009,424,455.5,424z"/>
                        <path d="M103.5,199c21.78,0,39.5-17.72,39.5-39.5S125.28,120,103.5,120S64,137.72,64,159.5S81.72,199,103.5,199z M103.5,135
                            c13.509,0,24.5,10.99,24.5,24.5S117.009,184,103.5,184S79,173.01,79,159.5S89.991,135,103.5,135z"/>
                    </g>
                </svg>
                <a href="#" style="color:#e3cc6f;font-size:20px;text-decoration:none;" class="text-capitalize font-weight-bold mb-0"> </a>
            </div>
            <a href="#" class="text-dark" style="text-decoration:none;">Details</a>
        </div>
  
        <div class="row">
            <div class="col-md-6 my-2">
                <img src="{{object.image.url}}" width="500px" height="500px">
            </div>
            <div class="col-md-6 my-2" style="font-size: 25px;">
                <a href="#" class="text-white p-1 px-2 mb-2" style="background-color:#e3cc6f;text-decoration:none;"><small>{{ object.title }}</small></a>
                <p>{{ object.content }}</p>
                <div class="mt-2">
                    <a href="#" class="pl-2 text-black mr-2" style="border-left: 3px solid #e3cc6f;text-decoration:none;color:black;"><small>{{ object.author }}</small></a>
                </div>
            </div>
        </div>
    </div>

    <footer class="lec_image_bck text-center lec_wht_txt" data-image="{% static 'images/main_back_bl.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><img src="{% static 'images/cafe toit.png' %}" alt="" height="150"></p>
                    <p>Visa, MasterCard and restaurant vouchers. <br>
                    Transaction fee for payments by CC or food checks. <br>
                    No Bancontact.
                    </p>
                    <div class="lec_footer_social">
                        <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">
                            <a href="https://www.facebook.com/cafeToit/"><i class="ti ti-facebook lec_icon_box"></i></a>
                            <a href="https://www.instagram.com/cafe_toit/"><i class="ti ti-instagram lec_icon_box"></i></a>
                            <a href="https://twitter.com/CafetoitH"><i class="ti ti-twitter lec_icon_box"></i></a>
                        </div>
                    </div>
                    <p>© Cafe Toit 2017</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script> 
<script src="{% static 'js/lecker_library.js' %}"></script> 
<script src="{% static 'js/lecker_script.js' %}"></script>
</body>
</html>