{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cafe Tiot</title>
<link href="{% static 'css/lecker_library.css' %} " rel="stylesheet">
<link href="{% static 'fonts/themify-icons.css' %} " rel="stylesheet">
<link href="{% static 'fonts/selima/stylesheet.css' %}" rel="stylesheet">
<link href="{% static 'css/lecker_style.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Lato" rel="stylesheet">
</head>
<body class="lec_france">
<div class="lec_page" id="lec_page">
    <a href="#lec_page" class="lec_top lec_go"><b class="ti ti-angle-up"></b></a>
    <header>    
        <div class="container">   
            <a href="http://lecker.maskandesign.com/" class="lec_logo">CAFE TOIT <i><span>THE ROOF TOP</span><span>GARDEN CAFE</span></i></a>
            <div class="lec_main_menu">
                
                <div class="lec_main_menu_icon">
                    <i></i><i></i><i></i><i></i>
                    <b>Menu</b>
                    <b class="lec_main_menu_icon_b">Back</b>
                </div>
            </div>

            <div class="lec_main_menu_content lec_image_bck" data-color="rgba(0,0,0,0.9)" data-image="{% static 'images/resta/shutterstock_384835423.jpg' %}">
                <div class="lec_over" data-color="#000" data-opacity="0.8"></div>
            </div>

            <div class="lec_main_menu_content_menu lec_wht_txt text-right">
                <div class="container">
                    <ul>
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'about' %}">About</a>
                        <a href="{% url 'menu' %}">Menu</a>
                        <a href="{% url 'service' %}">Service</a>
                        <li class="lec_parent"><a href="#">Blog</a></li>
                        <li class="lec_parent"><a href="#">Event & Offer</a></li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </ul>
                    <div class="lec_main_menu_content_menu_copy">
                        <p>© CAFETIOT 2017</p>
                        <div class="lec_footer_social">
                            <a href="https://www.facebook.com/cafeToit/"><i class="ti ti-facebook lec_icon_box"></i></a>
                            <a href="https://www.instagram.com/cafe_toit/"><i class="ti ti-instagram lec_icon_box"></i></a>
                            <a href="https://twitter.com/CafetoitH"><i class="ti ti-twitter lec_icon_box"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="lec_slider lec_slider_inside lec_image_bck lec_fixed lec_wht_txt" data-stellar-background-ratio="0.3" data-image="{% static 'images/resta/shutterstock_398065522.jpg' %}">
        <div class="lec_slider_firefly" data-total="30" data-min="1" data-max="3"></div>
        <div class="lec_over" data-color="#000" data-opacity="0.8"></div>
        <div class="container">
            <div class="lec_slide_txt lec_slide_center_middle text-center">
                <img src="{% static 'images/cafe toit.png' %}" alt="" height="180"><br>
                <div class="lec_gold">Types Of Menu</div>
                <div class="lec_slide_subtitle">CAFE TIOT<br>THE ROOF TOP GARDEN CAFE</div>
            </div>
        </div>
    </div>
    <section id="lec_content" class="lec_content">
        <section class="lec_section" id="products">
            <div class="container-fluid text-center">

                <h2 class="lec_gold lec_title_counter">Dishes of the Day</h2>
                <h3 class="lec_gold_subtitle">Let Us Cater <br>Your Next Event</h3>
                <div class="lec_slider_single lec_wht_txt lec_lm_type_i" data-dots="true" data-autoplay="true">
                    <div class="lec_lm_type_i_item">
                        <img src="{% static 'images/c2.jpeg' %}" alt="">
                        
                        <div class="lec_lm_type_i_item_desc lec_image_bck text-left" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, -50px, 0px)" data-image="{% static 'images/main_back_bl.jpg' %}">
  
                            <div class="lec_lm_type_i_item_desc_cont">
                                <h3 class="lec_gold">Donuts</h3>
                                <div class="lec_lm_type_i_item_price">&#8377; 75</div>
                                <p>(Plain / Flavoured)</p>
                                <h4>Composition</h4>
                                <p class="lec_lm_type_i_item_ingr">(Feeds 4-5) ½ Rack Ribs, 8oz Pork, 8oz Brisket, ½ Chicken, 3 pints of Sides</p>
                            </div>
                        </div>
                    </div>
                    <div class="lec_lm_type_i_item">
                        <img src="{% static 'images/c1.jpeg' %}" alt="">
                        
                        <div class="lec_lm_type_i_item_desc lec_image_bck text-left" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, -50px, 0px)" data-image="{% static 'images/main_back_bl.jpg' %}">
  
                            <div class="lec_lm_type_i_item_desc_cont">
                                <h3 class="lec_gold">Pizza</h3>
                                <div class="lec_lm_type_i_item_price">starts at &#8377; 99</div>
                                <p>2 Marinated Chicken Breasts on the Flattop Grill and Served with White Bread. Includes 2 sides.</p>
                                <h4>Composition</h4>
                                <p class="lec_lm_type_i_item_ingr">(Feeds 2-3) 4 Bones, 6oz Pork, 6oz Brisket. Choice of 3 sides</p>
                            </div>
                        </div>
                    </div>
                    <div class="lec_lm_type_i_item">
                        <img src="{% static 'images/c4.jpg' %}" alt="">
                        
                        <div class="lec_lm_type_i_item_desc lec_image_bck text-left" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, -50px, 0px)" data-image="{% static 'images/main_back_bl.jpg' %}">
  
                            <div class="lec_lm_type_i_item_desc_cont">
                                <h3 class="lec_gold">Briyani</h3>
                                <div class="lec_lm_type_i_item_price">&#8377; 150</div>
                                <p>Mississippi Farm Raised Catfish with White Onions and Served with a Couple of Hushpuppies. Includes 2 sides.</p>
                                <h4>Composition</h4>
                                <p class="lec_lm_type_i_item_ingr">(Feeds 1-2) 3 Eggs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="lec_section lec_section_no_overlay">
                
                <div class="container text-center">

                    <h2 class="lec_gold lec_title_counter">Other Menu</h2>
                    <h3 class="lec_gold_subtitle">Combos & Trays</h3>

                    <div class="row row_mb_100 text-left">
                        <div class="col-md-9 lec_animation_block" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, -80px, 0px)">
                            <img src="{% static 'images/menu/combo.jpeg' %}" alt="">
                        </div>

                        <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posr lec_image_bck" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, 80px, 0px)" data-image="{% static 'images/main_back.jpg' %}">
                            <div class="lec_over" data-color="#000" data-opacity="0.05"></div>                           
                            <div class="lec_parallax_menu lec_image_bck lec_fixed">
                                <h2 class="lec_gold lec_title_counter">Combos</h2>
                                
                                <div class="lec_parallax_menu_mini lec_parallax_menu_mini_feaut">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>BUCKET OF VEG</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">&#8377; 199</div>
                                    </div>
                                    <p>(Veg Burger + chips + 250 ml Anysoft drink upon availability)</p>
                                </div>

                                <div class="lec_parallax_menu_mini">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>Pizza Combo</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">&#8377; 190</div>
                                    </div>
                                    <p>(Pepperoni Pzza + Chips + 250 ml ofany sot drink upon availability)</p>
                                </div> 

                                <div class="lec_parallax_menu_mini">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>Sandwich Combo I</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">&#8377; 130</div>
                                    </div>
                                    <p>(Egg sandwich +chips + 250 ml anysoft drink upon availability)</p>
                                </div>                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posl lec_image_bck" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, -80px, 0px)" data-image="{% static 'images/main_back.jpg' %}">
                            <div class="lec_over" data-color="#000" data-opacity="0.05"></div>
                            <div class="lec_parallax_menu lec_image_bck lec_fixed">                              
                                <h2 class="lec_gold lec_title_counter">Trays</h2>                                
                                <div class="lec_parallax_menu_mini">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>WHOLE HOG</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">$10.95</div>
                                    </div>      
                                </div>

                                <div class="lec_parallax_menu_mini">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>PULLED PORK SHOULDER</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">$9.95</div>
                                    </div>      
                                </div>

                                <div class="lec_parallax_menu_mini">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>BEEF BRISKET</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">$18.95</div>
                                    </div>      
                                </div>

                                <div class="lec_parallax_menu_mini">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>SMOKED TURKEY</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">$15.95</div>
                                    </div>      
                                </div> 
                            </div>
                        </div>

                        <div class="col-md-8 col-md-offset-4 lec_animation_block" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, 80px, 0px)">
                            <img src="{% static 'images/menu/tray1.jpeg' %}" alt="">
                        </div>

                    </div>
                    <a href="{% static "images/menu/menu.pdf" %}" class="btn btn-info mt-5" style="color:White;background-color:red;border-color:1px solid red;font-size:18px;" target="_blank">More Menus <i class="ti ti-arrow-right" style="color:White;"></i></a>
                </div>
                
        </section>
        <section class="lec_section lec_image_bck lec_wht_txt lec_fixed" data-stellar-background-ratio="0.2" data-image="{% static 'images/black-1072366_1920.jpg' %}">
            <div class="lec_over" data-color="#000" data-opacity="0.8"></div>
            
            <div class="container text-center">
                
                <h2 class="lec_gold lec_title_counter">Shop</h2>
                <h3 class="lec_gold_subtitle">FROM THE KITCHEN</h3>
                
                <div class="row">

                        <div class="col-md-4 lec_anim_box">
                            <div class="lec_shop_item">
                                <span class="lec_shop_item_slider">
                                    <img src="{% static 'images/b3.jpeg' %}" alt="">
                                </span>
                                <a href="#" class="lec_shop_item_title lec_gold_subtitle">
                                    CHEESEBURGER
                                    <b>$8.95</b>
                                </a>

                                <div class="lec_shop_item_links">
                                    <a href="#shop">Buy It</a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 lec_anim_box">
                            <div class="lec_shop_item">
                                <span class="lec_shop_item_slider">
                                    <img src="{% static 'images/burger/b4.png' %}" alt="">
                                </span>
                                <a href="#" class="lec_shop_item_title lec_gold_subtitle">
                                    BRISKET BURGER
                                    <b>$9.95</b>
                                </a>
                                <div class="lec_shop_item_links">
                                    <a href="#shop">Buy It</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 lec_anim_box">
                            <div class="lec_shop_item">
                                <span class="lec_shop_item_slider">
                                    <img src="{% static 'images/burger/b3.png' %}" alt="">
                                </span>
                                <a href="#" class="lec_shop_item_title lec_gold_subtitle">
                                    DIXIE BURGER
                                    <b>$8.95</b>
                                </a>
                                <div class="lec_shop_item_links">
                                    <a href="#shop">Buy It</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </section>
    <footer class="lec_image_bck text-center lec_wht_txt" data-image="{% static 'images/main_back_bl.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><img src="{% static 'images/cafe toit.png' %}" alt="" height="150"></p>
                    <p>Visa, MasterCard and restaurant vouchers. <br>
                    Transaction fee for payments by CC or food checks. <br>
                    No Bancontact.
                    </p>
                    <div class="lec_footer_social">
                        <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">
                            <a href="https://www.facebook.com/cafeToit/"><i class="ti ti-facebook lec_icon_box"></i></a>
                            <a href="https://www.instagram.com/cafe_toit/"><i class="ti ti-instagram lec_icon_box"></i></a>
                            <a href="https://twitter.com/CafetoitH"><i class="ti ti-twitter lec_icon_box"></i></a>
                        </div>
                    </div>
                    <p>© CAFETIOT 2017</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script> 
<script src="{% static 'js/lecker_library.js' %}"></script> 
<script src="{% static 'js/lecker_script.js' %}"></script>
</body>
</html>